<div class="container-fluid">
  <div class="row">
    <div class="menu col-lg-3">
      <h1 class="logo"><a href="#">MusiControl</a></h1>
      <ul class="nav flex-column">
        <li class="nav-item active">
          Wszystkie utwory
        </li>
        <li class="nav-item">
          Rodzaj muzyki
        </li>
        <li class="nav-item">
          Szukaj utworu
        </li>
        <li class="nav-item">
          Artyści
        </li>
        <li class="nav-item">
          Dodaj swój utwór
        </li>
      </ul>
    </div>
    <div class="other col-lg-9">
      <app-all-songs-list [songs]="songs"></app-all-songs-list>
    </div>
  </div>
</div>
